<div class="container mt-5">
  <h1>Mes cocktails</h1>
  <ul>
    <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </ul>
  <% @cocktails.each do |cocktail| %>
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <% end %>
  <%= link_to 'Add a new cocktail', new_cocktail_path, class: 'btn btn-primary' %>
</div>

